* {
  margin-top: 0;
}

body {
  margin-left: 0;
  margin-right: 0;
}

#title {
  text-align: center;
  background-color: rgb(122, 129, 153);
  width: 100%;
  height: 50px;
  margin-top: 0;
  padding-top: 0;
}

 /* form.searchbox {
  height: 50px;
  display: flex;
  justify-content: center; */
  
} 

.topbar {
  background: green;
}

input {
  width: 90%;
  height: 60px;
  position: absolute;
  top: 160px;
  background: rgb(155, 151, 151);
  border: none;
  border-radius: 10px;
}

#submit {
  height: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  grid-gap: 10px;
  padding: 10px;
  color: white; 
  height: 65vh;
  position: relative;
  top: 240px;
  width: 90%;
  margin: auto;
  

}

.grid-container > div {
  background-color: rgba(248, 63, 63, 0.8);
  border: none;
  border-radius: 10px;
  text-align: center;
  height: 90%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

form {
  display: flex;
  justify-content: center;
}

/* Desktop */
@media only screen and (min-width: 992px) {
  body {
    background-color: yellow;
  }
}